@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

:root{
    --primary-color: #3c6eab;
    --dark-gray: #38393a;
    --off-white: #e6e7e7;
    --link-button: rgb(17, 176, 229);
    
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0px;
    background-color: var(--off-whites)
}

hr{
    margin: 2rem 0rem;
}

/* .container */

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 50px auto;
}

.container-center{
    max-width: 300px;
    margin: auto;
    font-size: large;
}

/* Links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.--primary-link{
    /* background-color:var(--primary-color); */
    border-radius: 0.5rem;
    /* color: whitesmoke; */
}

.--secondary-link{
    /* color: var(--primary-color); */
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}

.primary-link{
    background-color:var(--link-button);
    border-radius: 0.5rem;
    color: rgb(206, 45, 184);
    font-size: large;
}

.secondary-link{
    color: var(--link-button);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    font-size: small;
}



/* LISTS */

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size:x-large;
    text-shadow:0.5px 0.5px 1.5px #000;
}

.navigation .nav-pills{
    text-align: right;

}
.navigation .link{
    color: white;
}

.navigation .link-active{
    font-weight: bold;
    font-size: large;
    text-shadow:0.5px 0.5px 1.5px #000;
}

.link-active:hover{
    color:rgb(237, 237, 172);
    /* background-color: #4c9dee; */
}

/* header */

.hero .details{
    text-align: center;
}

.hero{
    padding: 2rem;
   

}
.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
    padding: 2rem;
}

.hero .hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
    
}

.hero-heading:hover{
    color:#80b9f3;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
    text-shadow:0.5px 0.5px 1.5px #000;
}

/* sections */

.section{
    padding: 0.9rem;
    text-align: center;
}

.section h1{
    text-align: center;
    font-size: 20px;

}

.section p{
    text-align: center;
    font-size: 15px;
}

.section small{
    margin-bottom: 2px;
    font-size: small;
}


.section h1{
    text-align: center;
    /* padding: 0.1rem; */

}

.section a{
    padding: 7px;
    margin: auto;
    border: 0.5rem;
    border-radius: 0.3rem;
    background-color:#7198be;
    color:rgb(197, 199, 199);
    text-shadow:0.5px 0.5px 1.5px #000;
}

.section a:hover{
    color: beige;
    background-color:var(--off-white);


}

.ow{
    background-color: var(--off-white);
    font-size: large;
    text-align: center;
    width: 70%;
    margin: 50px auto;
    border: 20px;
    border-radius: 20px;

}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-bottom-right-radius: 1rem;

}

.footer .link{
    color: white;
}

.footer .footer-header{
    font-weight:bold;
    font-size: large;
}
.footer ul{
    padding-inline-start: 0px;
}

.footer ul li .logo{
    font-size: small;
    border-radius: 2rem;

}

.footer ul li .footerimg{
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: inline;
    width: 2rem;
    gap:20px;
    padding: 2px;
    margin-right: 3px;
    color:#d4f39b;
    border-inline-end-color:#d4f39b; ;
    /* background-color: #d4f39b; */
    /* box-shadow:#e1e2e5; */
    /* text-shadow:0.5px 0.5px 1.5px #000; */
    

}



